.proj {
  &-details {
    &-container {
      margin: 0 auto;
      max-width: 60%;
      padding: 5% 0 1%;

      &-inner {
        margin: 0 auto;
        max-width: 90%;
        height: 90%;

        & p {
          color: $color-white;
        }
      }
    }

    &-images {
      max-width: 54%;
      margin: 0 auto;

      & img {
        max-width: 100%;
        border-radius: 20px;
        overflow: hidden;
      }
    }

    &-linkBack {
      margin: 1% auto 0;
      text-align: center;

      &-link {
        color: $color-white;
        text-decoration: none;
        font-size: 2rem;

        &:hover {
          color: $color-grey-dark;
          text-decoration: none;
        }
      }
    }
  }
}
