@import "../abstracts/variables.scss";

.center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1 rem is (10px)
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  position: relative;
  background-color: $color-grey-light-1;
  padding: 0rem;

  height: 100vh;
  max-width: 100vw;
  background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.808),
      rgba($color-primary-dark, 0.794)
    ),
    url(../../images/grid1.png);
  background-repeat: repeat;
  background-position: top;
  position: relative;
}
